---
import Layout from "../layouts/common.astro";
---

<Layout title="Read Our Blog" pageTitle="Blog">
  <div class="my-20">
    <div class="mt-20 mx-auto text-center max-w-3xl px-10">
      <div
        class="mb-10 p-8 bg-white border border-gray-200 rounded-2xl shadow-sm flex flex-col"
      >
        <p class="mb-6 text-gray-400 uppercase text-sm">Jan 17 2023</p>
        <h3 class="text-3xl font-semibold text-gray-900">Some news</h3>
        <p class="mt-6 text-gray-500">
          Today we introduced a new big update ....
        </p>
      </div>

      <div
        class="mb-10 p-8 bg-white border border-gray-200 rounded-2xl shadow-sm flex flex-col"
      >
        <p class="mb-6 text-gray-400 uppercase text-sm">Feb 15 2023</p>
        <h3 class="text-3xl font-semibold text-gray-900">Here's some news</h3>
        <p class="mt-6 text-gray-500">
          We have yet another update for you ....
        </p>
      </div>
    </div>
  </div>
</Layout>
