<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Landing Page</title>
  </head>
  <body>
    <html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome!</title>
	</head>

	<body>
    <div class="py-8 bg-[#F5F4EF] min-h-screen">
      <h1 class="text-center text-3xl mb-10 font-extrabold tracking-tight text-[#333132]">
        dail.
			</h1>
      <p class="text-center text-[#0d0d0d]">The ultimate calendar app for all your needs. <br> Dail turns your calendar into a living, breathing <br>  
		workspace that makes all your meetings 10x better.</p>
      <button class="block rounded-md text-white px-5 py-3 mx-auto mt-10 font-bold bg-gradient-to-r from-[#DB6975] via-[#B76285] to-[#8556A1]">Sign me up!</button>
    </div>
	</body>
</html>

  </body>
</html>
