<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Landing Page</title>
  </head>
  <body>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <title>Welcome!</title>
      </head>

      <body>
        <div class="py-5 bg-[#F5F4EF] min-h-screen">
          <nav
            class="flex my-10 space-x-10 items-center justify-between flex-wrap px-48"
          >
            <div class="flex items-center flex-shrink-0 mr-6 mx-12">
              <h1 class="text-3xl font-extrabold tracking-tight text-[#333132]">
                dail.
              </h1>
            </div>

            <div
              class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
            >
              <div class="lg:flex-grow">
                <a
                  href="/"
                  class="mx-5 font-medium text-gray-500 hover:text-gray-900"
                  >Home</a
                >
                <a
                  href="/pricing"
                  class="mx-5 font-medium text-gray-500 hover:text-gray-900"
                  >Pricing</a
                >
                <a
                  href="/blog"
                  class="mx-5 font-medium text-gray-500 hover:text-gray-900"
                  >Blog</a
                >
                <a
                  href="/login"
                  class="mx-5 font-medium text-gray-500 hover:text-gray-900"
                  >Login</a
                >
              </div>

              <div>
                <a
                  href="/signup"
                  class="inline-block px-4 py-2 leading-none border rounded border-[#4E4081] mt-4 lg:mt-0 font-medium text-white bg-[#4E4081]"
                  >Get dial</a
                >
              </div>
            </div>
          </nav>

          <div class="py-10">
            <h2
              class="text-center text-3xl my-10 font-extrabold tracking-tight text-[#333132]"
            >
              The calendar you needed yesterday
            </h2>

            <p class="text-center text-lg text-[#0d0d0d]">
              The ultimate calendar app for all your needs. <br /> dail turns your
              calendar into a living, breathing <br />
              workspace that makes all your meetings 10x better.
            </p>
            <button
              class="block rounded-md text-white px-5 py-3 mx-auto mt-10 font-bold bg-gradient-to-r from-[#DB6975] via-[#B76285] to-[#8556A1]"
              >Sign me up!</button
            >
          </div>
        </div>
      </body>
    </html>
  </body>
</html>
