---
import Layout from "../layouts/common.astro";
---

<Layout title="The calendar you need like yesterday" pageTitle="Home">
  <div class="py-2">
    <p class="text-center text-lg text-[#0d0d0d]">
      The ultimate calendar app for all your needs. <br /> Dail turns your calendar
      into a living, breathing <br />
      workspace that makes all your meetings 10x better.
    </p>
    <button
      class="block rounded-md text-white px-5 py-3 mx-auto mt-10 font-bold bg-gradient-to-r from-[#DB6975] via-[#B76285] to-[#8556A1]"
      >Sign me up!</button
    >
  </div>

  <!-- Middle section -->
  <div class="my-20 mx-auto text-center max-w-3xl px-10">
    <p class="mt-2 text-2xl font-extrabold text-gray-900 tracking-tight">
      Everything you need to know about this app
    </p>
    <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
      A great list of things it allows you to do
    </p>

    <!-- Grids -->
    <div class="mt-12 grid gap-8 grid-cols-1 md:grid-cols-2">
      <div class="bg-gray-50 rounded-lg px-6 pb-8 border-2">
        <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">
          First benefit
        </h3>
        <p class="mt-5 text-gray-500">You can save time</p>
      </div>

      <div class="bg-gray-50 rounded-lg px-6 pb-8 border-2">
        <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">
          Second benefit
        </h3>
        <p class="mt-5 text-gray-500">You can save money</p>
      </div>
      <div class="bg-gray-50 rounded-lg px-6 pb-8 border-2]">
        <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">
          3rd benefit
        </h3>
        <p class="mt-5 text-gray-500">You can avoid X</p>
      </div>

      <div class="bg-gray-50 rounded-lg px-6 pb-8 border-2">
        <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">
          4th benefit
        </h3>
        <p class="mt-5 text-gray-500">You can do Y</p>
      </div>
    </div>
  </div>
</Layout>
